@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%) );
    font-family: "Barlow Semi Condensed";

}

.game-container{
    width: 50%;
    margin: 50px auto;
}

.scores-board{
    width: 100%;
    height: 115px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 8px;
}

.score-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.scores{
    height: 90px;
    width: 100px;
    background-color: white;
    border-radius: 8px;
}

h1{
    text-align: center;
    font-size: 30px;
   
}

h3{
    margin-bottom: 10px;
}

.game-decision{
    margin-top: 20px;
}

.triangle{
    justify-content: center;
    display: flex;
    margin: 100px auto;
}

.paper{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #576FDE;
    background-color: white;
    position: absolute;
    top: 240px;
    right: 850px;
}

.paper img{
    margin-top: 10px;
    margin-left: 15px;
}

.rock{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #DB3E5C;
    background-color: white;
    position: absolute;
    top: 450px;
    right: 700px;
}

.rock img{
    margin-top: 18px;
    margin-left: 15px;
}

.scissors{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #ECA724;
    background-color: white;
    position: absolute;
    top: 240px;
    /* left:-20px; */
    right: 580px;
}

.scissors img{
    margin-top: 10px;
    margin-left: 15px;
}

.rules{
    display: flex;
    justify-content: flex-end;
   
}

#rules{
    padding: 8px 35px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-info {
    text-align: center;
  }
  